@media only screen and (min-width:350px) and (max-width:450px) {

    /* NAVIGATIN */

    nav a img {
        margin-left: -5px;
        width: 50px;
        height: 40px;
    }

    /* Humburger */

    .nav-links ul li a {
        font-size: 20px;
        padding: 20px;
    }

    .nav-links ul li {
        display: block;
        margin-top: 40px;
    }

    .nav-links ul li a:hover{
        color: rgb(0, 0, 0);
        font-weight:bold ;
    }
    .nav-links ul li::after {
        content: '';
        width: 0%;
        height: 2px;
        background: rgb(0, 0, 0);
        display: block;
        margin: auto;
        transition: 1s;
    }
    
    .nav-links ul li:hover::after {
        width: 80%;
    }
    .nav-links{
        position: absolute;
        background: #fa0000d5;
        height: 100vh;
        width: 200px;
        top: 0;
        right:500px ;
        text-align: left;
        z-index: 2;
        transition: 2s;
    }

    nav .fa-solid{
        display: block;
        color: rgb(255, 255, 255);
        margin:  10px;
        font-size: 30px;
        cursor: pointer;
    }

    /* HOME */
    .header {
        background-size: 500px;
        background-repeat: no-repeat;
        height: 500px;
    }

    #h{
        font-size: x-large;
        padding: 10px;
    }
    #h1{
        font-size: large;
        padding: 20px;
    }

    .course-col {
        height: 80px;
        width: 33%;
        margin-inline: 5px;
    }

    /* PAPERS */

    .img {
        /* border: 2px solid blue; */
        margin-top: 10px;
        height: 63px;
        width: 77px;
        margin: 4px 13px;
        margin-left: 11px;
        flex-direction: column;
        padding: 2px;
        border: 3px solid black;
    }

    .cse {
        margin-inline: 8px;
        align-items: center;
        /* width: 45%; */
        width: 29%;
        height: 20%;
        margin-top: 0px;
        background-color: rgb(222, 222, 226);
        border-radius: 8px;
    }

    .paper-h3 {
        font-size: small;
        margin-bottom: 6px;
    }

    .paper-h2 {
        height: 22px;
        padding: 7px;
        margin-top: 1px;
        font-size: large;
    }

    marquee {
        font-size: small;
    }

    h1 {
        font-size: large;
    }

    /* ABOUT */

    .footer {
        width: 86%;
    }

    .footer .p {
        font-size: large;
        margin-top: 0px;
        align-content: center;
    }

    .footer .h2 {
        margin-top: 90px;
    }

    /* REACH ME */

    .img-dsr {
        margin-top: 34px;
    }
}

@media only screen and (min-width:451px) and (max-width:790px) {
    /* NAVIGATIN */

    nav a img {
        margin-left: -5px;
        width: 55px;
        height: 43px;
    }

     /* Humburger */

     .nav-links ul li a {
        font-size: 20px;
        padding: 20px;
    }

    .nav-links ul li {
        display: block;
        margin-top: 40px;
    }

    .nav-links ul li a:hover{
        color: rgb(0, 0, 0);
        font-weight:bold ;
    }
    .nav-links ul li::after {
        content: '';
        width: 0%;
        height: 2px;
        background: rgb(0, 0, 0);
        display: block;
        margin: auto;
        transition: 1s;
    }
    
    .nav-links ul li:hover::after {
        width: 80%;
    }
    .nav-links{
        position: absolute;
        background: #fa0000d5;
        height: 100vh;
        width: 200px;
        top: 0;
        right:-200px ;
        text-align: left;
        z-index: 2;
        transition: 2s;
    }

    nav .fa-solid{
        display: block;
        color: rgb(255, 255, 255);
        margin:  10px;
        font-size: 30px;
        cursor: pointer;
    }

    /* HOME */

    .header {
        background-size: 800px;
        background-repeat: no-repeat;
    }

    marquee {
        font-size: large;
    }

    #h {
        height: 50px;
        font-size: xx-large;
        padding-top: 10px;
    }

    .course-col {
        height: 100px;
    }

    #h1 {
        font-size: x-large;
        padding-top: 50px;
    }

    /* PAPERS */

    .img {
        margin-left: 43px;
        height: 90px;
        width: 110px;

    }

    .cse {
        border-radius: 15px;
        width: 30%;
    }

    /* REACH ME */

    .img-dsr {
        height: 365px;
    }

    p {
        font-size: xx-large;
    }

    a {
        font-size: x-large;
    }

    /* ABOUT */
    .footer {
        width: 92%;
    }

    .footer h2 {
        margin-top: 46px;
        font-size: xx-large;
    }

    .footer p {
        font-size: large;
    }
}

@media only screen and (min-width:790px) and (max-width:1024px) {

    /* NAVIGATIN */

    nav a img {
        margin-left: -5px;
        width: 55px;
        height: 43px;
    }

    .nav-links ul li a {
        font-size: 20px;
        padding: 20px;
    }

    .nav-links ul li {
        display: block;
        margin-top: 40px;
    }

    .nav-links ul li a:hover{
        color: rgb(0, 0, 0);
        font-weight:bold ;
    }
    .nav-links ul li::after {
        content: '';
        width: 0%;
        height: 2px;
        background: rgb(0, 0, 0);
        display: block;
        margin: auto;
        transition: 1s;
    }
    
    .nav-links ul li:hover::after {
        width: 80%;
    }
    .nav-links{
        position: absolute;
        background: #fa0000d5;
        height: 100vh;
        width: 200px;
        top: 0;
        right:-200px ;
        text-align: left;
        z-index: 2;
        transition: 2s;
    }

    nav .fa-solid{
        display: block;
        color: rgb(255, 255, 255);
        margin:  10px;
        font-size: 30px;
        cursor: pointer;
    }

   

    /* HEARDER */
    .header {
        background-size: 1230px;
        background-repeat: no-repeat;
    }

    .p1 {
        font-size: 25px;
    }

    #h {
        height: 50px;
        padding-top: 21px;
        font-size: xx-large;
    }

    /* PAPERS */
    marquee {
        font-size: x-large;
    }

    .img {
        height: 118px;
        width: 180px;
        margin-left: 20px;
    }

    h3 {
        padding-top: 5px;
        font-size: x-large;
    }

    /* REACH ME */
    .img-dsr {
        margin-top: 80px;
    }


    /* Humburger */

    .nav-links ul li a {
        font-size: 20px;
        padding: 20px;
    }

    .nav-links ul li {
        display: block;
        margin-top: 40px;
    }
    .nav-links ul li a:hover{
        color: rgb(0, 0, 0);
        font-weight:bold ;
    }
    .nav-links ul li::after {
        content: '';
        width: 0%;
        height: 2px;
        background: rgb(0, 0, 0);
        display: block;
        margin: auto;
        transition: 1s;
    }
    
    .nav-links ul li:hover::after {
        width: 80%;
    }
    .nav-links{
        position: absolute;
        background: #fa0000d5;
        height: 100vh;
        width: 200px;
        top: 0;
        right:-200px ;
        text-align: left;
        z-index: 2;
        transition: 2s;
    }

    nav .fa-solid{
        display: block;
        color: rgb(255, 255, 255);
        margin:  10px;
        font-size: 30px;
        cursor: pointer;
    }


}

@media only screen and (min-width:1024px) and (max-width:1073px) {

    /* NAVIGATIN */

    nav{
        height: 65px;
    }
    nav a img {
        margin-left: -5px;
        width: 80px;
        height: 60px;
    }

    .nav-links ul li {
        /* display: block; */
        margin: 0px 25px;
    }

    

    .nav-links ul li a {
        font-size: 23px;
        padding: 0px;
    }

    .nav-links ul li {
        display: block;
        margin-top: 40px;
    }

    .nav-links ul li a:hover{
        color: rgb(0, 0, 0);
        font-weight:bold ;
    }
    .nav-links ul li::after {
        content: '';
        width: 0%;
        height: 2px;
        background: rgb(0, 0, 0);
        display: block;
        margin: auto;
        transition: 1s;
    }
    
    .nav-links ul li:hover::after {
        width: 80%;
    }
    .nav-links{
        position: absolute;
        background: #fa0000d5;
        height: 100vh;
        width: 200px;
        top: 0;
        right:-200px ;
        text-align: left;
        z-index: 2;
        transition: 2s;
    }

    nav .fa-solid{
        display: block;
        color: rgb(255, 255, 255);
        margin:  10px;
        font-size: 50px;
        cursor: pointer;
    }

    /* PAPERS */
    .img {
        height: 76px;
        width: 85px;
        margin-left: 41px;
        padding: 2px;

    }

    /* CONTACT */
    .img-dsr{
        height: 401px;
    }
    .img-wrapper {
        height: 365px;
        width: 424px;
        margin-left: 0px;
        margin-top: 0px;
    }
    .img-wrapper::before{
        height: 456px;
        width: 456px;
    }

    .cnt-p {
        margin-top:180px;
        font-size: xx-large;
    }

    .a1 {
        font-size: x-large;
    }


    /* ABOUT */
    .footer {
        width: 90%;
    }

    .footer .h2 {
        margin-top: 174px;
        font-size: xx-large;
    }

    .footer .p {
        font-size: x-large;
        margin-top: 100px;
        height: 100px;
    }

}

@media only screen and (min-width:1073px) and (max-width:1147px) {

    /* NAVIGATION */
    nav a img {
        margin-left: -5px;
        width: 55px;
        height: 40px;
    }

    .nav-links ul li {
        /* display: block; */
        margin: 0px 25px;
    }

    .nav-links ul li a {
        font-size: 18px;
    }

    /* PAPERS */
    .img {
        height: 160px;
        width: 213px;
        margin-left: 59px;
        padding: 2px;

    }

    .cse {
        width: 500px;
    }
}

@media only screen and (min-width:1147px) and (max-width:1476px) {

    /* NAVIGATION */
    nav a img {
        margin-left: -5px;
        width: 55px;
        height: 40px;
    }

    .nav-links ul li {
        /* display: block; */
        margin: 0px 25px;
    }

    .nav-links ul li a {
        font-size: 18px;
    }

    .img {
        height: 122px;
        width: 195px;
        margin-left: 100px;
    }

    /* ABOUT */

}

@media only screen and (min-width:1176px) and (max-width:2452px) {

    /* NAVIGATION */
    nav a img {
        margin-left: -5px;
        width: 55px;
        height: 40px;
    }

    .nav-links ul li {
        /* display: block; */
        margin: 0px 25px;
    }

    .nav-links ul li a {
        font-size: 18px;
    }

    /* .img {
        height: 122px;
        width: 195px;
        margin-left: 77px;
    } */



    .header {
        background-size: 1793px;
        background-repeat: no-repeat;
    }
}
